<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
 
    <div class="card col-sm-3 my-5 mx-auto" style="max-width: 540px;" sec:authorize="isAuthenticated()">
        <div class="row no-gutters">
          <!-- <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
          </div> -->
          <div class="col-md-8">
            <divse class="card-body">
              <h5 class="card-title" th:text="|${user.name} ${user.lastname}|">Card title</h5>
              <p class="card-text"><div sec:authentication ="principal.authorities"></div></p>
              <p class="card-text"><small class="text-muted" th:text="|Login time: ${session.loginTime} |"> </small></p>
            </div>
          </div>
        </div>
      </div>




    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>